.profile-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../../image/background.png) ;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom:15rem;
}

.profile {
    width: 67%;
    display: flex;
    flex-direction: column;

}
.flex-profile{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.Shape{
    width: 250px;
    height: 100%;
    background-color: var(--yellow);
    border-bottom-left-radius: 210px;
    border-bottom-right-radius: 210px ;    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 17px;
}

.image-profile img {
border-radius: 50%;
object-fit: cover;
border : 3px solid var(--red);
 width:240px;
 height: 240px;
 padding: 8px;
}
.profile{
    display: flex;
    align-items: center;
}
.personal-info{
    font-size: 30px;
    color: var(--red);
    width: calc(100% - 480px);
    gap: 30px;
}
.profile-title_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 480px);
}   
.add_new_post{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.add_new_post button{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 20px;
    padding: 10px;
    height: 40px;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logout:active{
    scale: 0.98;
}
.logout span button{
    border: transparent;
    border-bottom: 1px solid var(--red);
    padding: 0;
    border-radius: unset ;
}
.each-info{
width: 500px;
}
.each-info p {
    color: black;
    font-size: 15px;
}
.each-info p span {
    color: var(--red);
    font-size: 17px;
    font-weight: 700;
}
.profile h2 {
    font-size: 30px;
}
.personal-info button{
padding: 5px;
width: 30px;
height: 30px;
background-color: var(--red);
}
.post_cards{
    border-top: 1px solid black ;
    padding: 20px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(2 , 1fr) ;
    gap: 15px;
}
.Post-PopUp{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.041);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(3px);
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.section_form .action-post{
    display: flex;  
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.section_form  button {
     border: transparent;
     padding: 0;
     font-size: 20px;
     font-weight: 700;
}
.submit-edit-profile{
    width: 80px !important ;
    background-color: transparent !important;
}
@media screen and (max-width: 450px) {

 
    .Shape{
        height: 200px;
        width: 200px;
        align-items: center;
    }
    .image-profile{
        height: 160px;
        width: 160px;
        margin-bottom: 10px;
    }
    .image-profile img {
        width: 140px;
        height: 140px;
    }
    .Shape-button{
        height: 0;
        top: 244px;
        right: -100px;
    }
    .each-info{
        width: 300px;
    }
    .personal-info{
        width: 300px;
    }
    .flex-profile{
        flex-direction: column;
    }
    .logout{

        z-index: -99;
    }
    .logout button {
        padding: 0;
    }
    .post_cards{
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: unset;
    }
    .tutors_card{
        width: 300px;
        min-height: 200px;
    }
    .tutors-info-container span ,.tutors-info  p {
        font-size: 13px;
    }
    .tutors-info .class-title {
        font-size: 12px;
    }
    .tutors-info h3{
        font-size: 15px;
    }
    .add_new_post h2 {
        font-size: 20px;
    }
    .add_new_post button {
        padding: 5px;
        font-size: 13px;
        height: 25px;
    }
    .section_form{
        width: 200px;
        z-index: 1;
    }
    #consultation-form{
        width: 230px;
        z-index: 1;
    }
    .flex-profile{
        align-items: center;
    }
    .profile-title_heading{
        width: unset;
    }
    .profile-container{
        background-image: unset;
        padding-bottom: unset;
    }
}